<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>그룹 - 오답노트</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/styles/indexAll.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
</head>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "/api/wronglist",
      dataType: "json",
      async: false, // 순차적으로 실행함으로 중복 실행 오류를 방지함.
    }).done(function (res) {
      $('#vocaList').empty();
      console.log(res);
      for (let i = 0; i < res.length; i++) {
        var allVoca = "<dt id='spelling_" + i + "'>" + res[i].voca + "</dt><dd id='mean" + i + "'>" + res[i].vocamean + "</dd><br/><br/>"
        $('#vocaList').append(allVoca);
      }
    }).catch(function (xhr, status, error) {
      alert("로그인 필요.");
      window.location.href="/loginPage";
    });



  });



</script>
<body>
  <div class="item--2L8">
    <div class="auto-group-hxbs-8tx">
      <div class="auto-group-r11z-5JQ">
        <div class="item--d52"></div>
        <div class="person-1-XgC">
          <img class="person-1-UbS" src="../static/assets/person.png" />
          <a href="/myPage">
            <div class="item--DJ8">마이페이지</div>
          </a>
        </div>
      </div>
      <div class="auto-group-tvhr-HHz">
        <div class="rectangle-15-ywW" style="background-color: #f35c6e;">오답노트</div>
        <button type="button" class="rectangle-19-smz" onclick="location.href='/indexAdd'"
          style="display: none;">추가</button>
      </div>
    </div>
    <div class="auto-group-jnme-AFJ">
      <div class="item-2-uya"></div>
      <div class="auto-group-fo6g-oZA">
        <div class="auto-group-ffeg-XVA">
          <div class="auto-group-6hfe-mnp" id="searchResult" style="overflow-y: scroll;">
            <dl class="such-seem-bureau-throughout-because-guess-saying-get--Xmz" id="vocaList">

            </dl>

          </div>
        </div>
        <button type="button" class="rectangle-11-8Yp" onclick="location.href='/home'">뒤로가기</button>
      </div>
      <div class="item-3-bSQ"></div>
    </div>
    <div class="imgs" id="imgs">
      <img id="img1" src="../static/assets/수뭉_좌.png" />
      <img id="img2" src="../static/assets/수뭉_우.png" />
    </div>
  </div>

</body>

</html>