<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>관리자 이미 존재하는 단어 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="../static/styles/indexModifyFailed.css" />
  </head>
  <body>
    <div class="item--Dj6">
      <div class="auto-group-peqg-85N">
        <div class="auto-group-nkrn-TNY">
          <div class="item--pD6">관리자 모드</div>
          <div class="person-1-Wbi">
            <img
              class="person-1-rfa"
              src="../static/assets/person.png"
            />
           <a href="myPage.html"> <div class="item--QBJ">마이페이지</div></a>
          </div>
        </div>
        <div class="rectangle-15-g8p">전체 단어</div>
        <div class="auto-group-jsf6-YB2">이미 존재하는 단어입니다.</div>
      </div>
      <div class="auto-group-91s6-CWU">
        <div class="auto-group-i9tw-wix">
          <div class="item-2-Uyn"></div>
          <button type="button" class="rectangle-10-NZN" onclick="location.href='indexAll.html'">확인</div>
        </div>
        <div class="item-3-qSx"></div>
      </div>
      <div class="imgs" id="imgs">
        <img id="img1" src="../static/assets/수뭉_좌.png" />
        <img id="img2" src="../static/assets/수뭉_우.png" />
      </div>
    </div>
  </body>
</html>
