<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>회원가입페이지</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/styles/joinMem.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
</head>
<script>
  $(document).ready(function () {
    setCookie("verify", "x", 1);
    $("#verifyBtn").click(function () {
      let id = $("#id").val();
      let pw = 'aa00aa00';
      if (id == "") {
        $("#alertMsg1").text('아이디를 입력해주세요.');
        $('#alertMsg1').css('color', '#ff0000');
      }
      else if (!/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i.test(id)) { // 이메일 정규식
        $("#alertMsg1").text('이메일 형식에 맞게 입력해주세요.');
        $('#alertMsg1').css('color', '#ff0000');
      }
      else {
        $.ajax({
          type: "POST",
          url: '/api/user/login',
          dataType: "text",
          contentType: "application/json",
          async: false, // 순차적으로 실행함으로 중복 실행 오류를 방지함.
          data: JSON.stringify({ email: id, password: pw })
        }).done(function (res) {
          setCookie("verify", "x", 1);
          $("#alertMsg1").text('이미 등록된 회원입니다.');
          $('#alertMsg1').css('color', '#ff0000');
        }).catch(function (xhr, status, error) {
          if (xhr.status == 401) {
            setCookie("verify", "x", 1);
            $("#alertMsg1").text('이미 등록된 회원입니다.');
            $('#alertMsg1').css('color', '#ff0000');
          } else {
            setCookie("verify", "o", 1);
            $("#alertMsg1").text('사용 가능한 아이디입니다.');
            $('#alertMsg1').css('color', 'black');
          }
        });
      }
    });

    const inputElement = document.getElementById('id');

    inputElement.addEventListener('input', function(event) {
      console.log('텍스트가 변경되었습니다:', event.target.value);
      setCookie("verify", "x", 1);
    });

    $("#joinBtn").click(function () {
      let name = $("#name").val();
      let id = $("#id").val();
      let pw = $("#pw").val();
      var verify = getCookie("verify");
      if (id == "" || pw == "" || name == "") {
        alert('회원 정보 입력이 필요합니다.');
      }
      else if (verify != "o" || verify == null) {
        alert('중복확인이 필요합니다.');
      }
      else if (pw.length < 4 || pw.length > 12) {
        $('#pwRule').empty();
        $("#alertMsg2").text('비밀번호 형식에 맞지 않습니다. (4~12자/영문+숫자)');
        $('#alertMsg2').css('color', '#ff0000');
      }
      else {
        console.log(verify);
        $.ajax({
          type: "POST",
          url: '/api/user/signup',
          dataType: "text",
          contentType: "application/json",
          async: false, // 순차적으로 실행함으로 중복 실행 오류를 방지함.
          data: JSON.stringify({ name: name, email: id, password: pw })
        }).done(function (res) {
          alert('회원가입이 완료되었습니다.');
          window.location.href = '/levelTest'
        }).fail(function (error) {
          alert('실패')
        });
      }
    });

    $('#verifyBtn').mouseleave(function () {
      $("#alertMsg1").empty();
      $('#alertMsg1').css('color', '#ff0000');
    });

    $('#joinBtn').mouseleave(function () {
      $("#alertMsg2").empty();
      $('#pwRule').text('4~12자/영문+숫자');
    });

  });

  function setCookie(name, value, days) {
    const expires = new Date();
    expires.setTime(expires.getTime() + (days * 60 * 60 * 1000));
    document.cookie = name + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
  }
  function getCookie(name) {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(name + '=')) {
        return cookie.substring(name.length + 1);
      }
    }
    return null;
  }

  function goLogin() {
    window.location.href = '/loginPage';
  }
</script>

<body>
  <div class="wallPaper">
    <div class="item-2-xw2">
    </div>
    <div class="auto-group-6kmw-GB2">
      <div class="auto-group-e2il-bUC">
        <div class="rectangle-2-vFa">
        </div>
        <div class="item--Foe">회원가입</div>
        <input type="text" id="name" class="inputText" />
        <input type="text" id="id" class="inputText" />
        <input type="text" id="pw" class="rectangle-13-nSC" />

        <div class="item--tk8">이름</div>
        <div class="email-o6Q">아이디(Email)</div>
        <div class="item--hxU">비밀번호</div>
        <button id="verifyBtn" class="verificationBtn">중복확인</button>
        <button id="joinBtn" class="joinBtn">가입하기</button>
        <button id="cancelBtn" class="cancelBtn" onclick="goLogin()">취소</button>
        <div id="pwRule" class="pwRule">4~12자/영문+숫자</div>
        <img class="clip-1-17v" src="../static/assets/clip.png" />
        <div id="alertMsg1" class="alertMsg1"></div>
        <div id="alertMsg2" class="alertMsg2"></div>
      </div>
      <div class="item--Yde">가입 시 레벨 테스트가 시작됩니다 !</div>
    </div>
    <div class="item-3-2Yp">
    </div>

    <div class="imgs" id="imgs">
      <img id="img1" src="../static/assets/수뭉_좌.png" />
      <img id="img2" src="../static/assets/수뭉_우.png" />
    </div>
  </div>


</body>