<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>레벨 테스트 응시 버튼 페이지</title>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Jua%3A400"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
  />
  <link rel="stylesheet" href="../static/styles/levelTestButton.css" />
</head>
<body>
<div class="item--X8U">
  <div class="rectangle-6-dhJ"></div>
  <a href="levelTest">
    <div class="rectangle-7-BD2"></div>
    <div class="item--VUc">레벨 테스트 응시</div>
  </a>
</div>
zdy>
</html>
