<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>단어 개수 지정</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="../static/styles/testSelecMed.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
  </head>
  <script>
    var level;
    $(document).ready(function () {
      const email = getCookie('email');
      console.log(email);

      $.ajax({
        type: "GET",
        url: "api/userinfo?email="+email,
        //url: "api/userinfo",
        //data:{ email: email},
        dataType: "json",
        async: false, // 순차적으로 실행함으로 중복 실행 오류를 방지함.
      }).done(function (res) {
        level = res.level;
        console.log(res);
        $("#selectNum").empty();
        if(res.level==2) $("#selectNum").append("20개");
        else if(res.level==3) $("#selectNum").append("25개");
        //else $(".rectangle-10-3W8").css("display","none");
        else if(res.level==1) window.location.href="/testWords_15";
        else window.location.href="/levelTest";
      }).catch(function(error){
        setCookie('email', null, 1);
        window.location.href="/loginPage";
      })
    });

    function getCookie(name) {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(name + '=')) {
          return cookie.substring(name.length + 1);
        }
      }
      return null;
    }

    function setCookie(name, value, days) {
      const expires = new Date();
      expires.setTime(expires.getTime() + (days * 60 * 60 * 1000));
      document.cookie = name + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
    }

    function goTest() {
      var checkbox1 = document.getElementById('checkbox1');
      var checkbox2 = document.getElementById('checkbox2');
      if (checkbox1.checked && checkbox2.checked) alert("한개만 선택해주세요.");
      else if (checkbox1.checked) {
        window.location.href = '/testWords_15';
      } else if (checkbox2.checked) {
        if(level==2) window.location.href = '/testWords_20';
        else if(level==3) window.location.href = '/testWords_25';
      } else {
        alert('체크박스를 선택해주세요.');
      }
    }
  </script>

  <body>
    <div class="item--yxC">
      <div class="person-1-5EY">
        <img
          class="person-1-owE"
          src="../static/assets/person.png"
        />
        <div onclick="location.href='/myPage'" class="item--m7N" style="cursor: pointer;">마이페이지</div>
      </div>
      <div class="rectangle-7-3ag">오늘 학습할 단어의 개수를 지정해주세요.</div>
      <div class="auto-group-xc9v-WjA">
        <button onclick="location.href='/home'" class="rectangle-13-qFe">취소</button>
        <div class="rectangle-9-UpQ">
          <input type="checkbox" id="checkbox1" class="rectangle-9-DX6"></input>
          <div class="item-15-vgQ">15개</div>
        </div>
        <div class="rectangle-10-3W8">
          <input type="checkbox" id="checkbox2" class="rectangle-10-zRN"></input>
          <div class="item-20-vK2" id="selectNum">20개</div>
        </div>
        <button class="rectangle-12-3uS" onclick="goTest()">다음</button>
      </div>
    </div>
  </body>
</html>
